# project-specific
.env
docs/source/modules.rst
docs/source/msk_cdm*.rst

# python build
.idea
build
dist
*.egg-info
site/*
configs/*

# python runtime
__pycache__/
*.py[cod]

# Vim temporary files
*~
*.swp
*.swo

# OSX finder files
.DS_Store
.DS_store
/credentials.json
/configs/databricks_env_test.txt
/databricks_env.txt
/configs/certificate_sparky.crt
/configs/minio_env.txt
/sandbox/
