# project-specific
.env
docs/source/modules.rst
docs/source/msk_cdm*.rst

# python build
.idea
build
dist
*.egg-info

# python runtime
__pycache__/
*.py[cod]

# Vim temporary files
*~
*.swp
*.swo

# OSX finder files
.DS_Store
.DS_store
/credentials.json
/databricks_env.txt
/certificate_sparky.crt
/minio_env.txt
